<!doctype html>
<html>
   <head>
   <title>Create page</title>
   </head>
   <body>

      <h1> CREATE </h1>
      <Form method="POST">
      <select name = "courses">
            {% for course in course_list %}
            <option value="{{ course[0] }}">{{ course[0] }}</option>
            {% endfor %}
      </select>
            
            <h2>Select Questions for Survey:</h2>
            
            {% for q in questions %}
                <input type="checkbox" name="questions" value="{{ q }}">{{ q }}
            {% endfor %}
            
            <br></br>
            
            <button type="submit" name="questions" value="1">Submit Question</button>
            
      </Form>
      
      
   </body>
   </html>
