<!doctype html>
<html>
    <head>
        <title>Admin dashboard</title>
    </head>
    <body>

        <h1>Admin Dashboard</h1>

        <Form method="POST">
            <button type="submit" name="input" value="1">Create Survey</button>
            <button type="submit" name="input" value="2">Manage Questions</button>
            <button type="submit" name="input" value="3">LOGOUT</button>

        <h3>Surveys in Review Stage:</h3>

            {%if created %}
                {% for s in created %}
                    {{ s[0] }} {{ s[1] }} <br>
                {% endfor %}
            
            {% else %}
                <h4>No surveys in the creation stage</h4>

            {% endif %}

            {%if msg %}
            <h3>Here is msg:</h3>
                    {{ msg }}
            {% endif %}

        </Form>


    </body>
</html>
