<!doctype html>
<html>
	<head>
        <title>Metrics Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>

    	<Form method="POST">
            <button onclick="goBack()">Back</button>
            <br>
        </Form>

        <h1>Metrics</h1>

            {% if total[0] %}
                <h4>{{ total[0] }} completed survey(s) for <em>{{ name[0] }} {{ name[1] }}</em></h4>
            {% else %}
                <h4>0 completed survey(s) for <em>{{ name[0] }} {{ name[1] }}</em></h4>
            {%endif%}

        {% for d in diff %}
            <b>Question : {{ d }}</b> <br>
                {% for i in data %}
                    {% if i[0] == d %}
                    <em> Question Type: {{ i[1] }}</em> <br>
                    {% endif %}
                {% endfor %}
<ul>
            {% for r in results[loop.index0] %}
                {% for e in data %}
                    {% if e[0] == d %}
                        {% if e[1] == 'Multiple Choice' %}
                            <li><i>{{ r[0] }}</i></li> 

                            {% set myvar =  r[1]/total[loop.index0] * 100 %}

                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{r[1]}" aria-valuemin="0" style="width:{{ myvar }}%">{{ r[1] }}</div> <br>
                            </div>

                        {% else %}
                            <li><i>{{ r[0] }}</i></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            </ul>
        {% endfor %}
        <br>

<style>
    div {
        width: 50%;
        text-align: center;
    }

</style>

<script>
function goBack() {
    window.history.back();
}
</script>


    </body>
</html>
