<!doctype html>
<html>

    <head>
        <title>Create Survey page</title>
    </head>

    <body>

        <h1>Create Survey</h1>


        <Form method="POST">

        <button type="submit" name="input" value="1">Cancel</button>

            <h2>Select an offering:</h2>

            <select name="offering">
                <option value="defaulto">Select Offering</option>

                {% for o in offerings %}
                    <option value="{{ o }}">{{ o }}</option>
                {% endfor %}

            </select>

            <button type="submit" name="input" value="2">Submit</button>

                {% if choice == 'offer' %}
                    <h2>Select a course:</h2>

                    <select name="course">
                        <option value="defaultc">Select Course</option>

                        {% for c in offers %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}


                    </select>

                    <button type="submit" name="input" value="3">Submit</button>



                    {% if courseoff == 'course' %}

                    <h2>Choose questions for survey:</h2>
                        <hr>
                        {% for q in questions %}
                            <input type="checkbox" name="check" value="{{ q[0] }}">{{ q[0] }} ({{q[1]}} Response)
                            <hr>
                        {% endfor %}

                    <button type="submit" name="input" value="4">Submit</button>

                    {% endif %}

                {% endif %}



        </Form>
    </body>

</html>
