<!doctype html>
<html>
    <head>
        <title>Admin dashboard</title>
    </head>
    <body>

        <h1>Admin Dashboard</h1>

        <Form method="POST">
            <button type="submit" name="input" value="1">Create Survey</button>
            <button type="submit" name="input" value="2">Manage Questions</button>
            <button type="submit" name="input" value="3">Metrics</button>
            <button type="submit" name="input" value="4">LOGOUT</button>

        <h3>Surveys in Review Stage:</h3>

            {% for survey in review %}
                {{survey.get_name()}} {{survey.get_offering()}}
            {% endfor %}

        <br>

        <h3>Active Surveys:</h3>

            {% for survey in active %}
                {{survey.get_name()}} {{survey.get_offering()}}
                <button type="submit" name="input" value="{{survey.get_name()}}_{{survey.get_offering()}}">Close Survey</button>
                <br>
            {% endfor %}

        <br>

        <h3>Closed Surveys:</h3>

            {% for survey in closed %}
                {{survey.get_name()}} {{survey.get_offering()}} <br>
            {% endfor %}

        <br>

        </Form>


    </body>
</html>
