<!doctype html>
<html>
    <head>
        <title>Admin dashboard</title>
    </head>
    <body>

        <h1>Admin Dashboard</h1>

        <Form method="POST">
            <button type="submit" name="input" value="1">Create Survey</button>
            <button type="submit" name="input" value="2">Manage Questions</button>
            <button type="submit" name="input" value="3">Metrics</button>
            <button type="submit" name="input" value="4">LOGOUT</button>

        <h3>Surveys in Review Stage:</h3>

            {% for f in surveys %}
                {% if f[2] == 'review' %}
                    {{ f[0] }} {{ f[1] }} <br>
                {% endif %}
            {% endfor %}

            {% for c in created %}
                    {{ c[0] }} {{ c[1] }} <br>
            {% endfor %}

        <br>

        <h3>Active Surveys:</h3>

            {% for a in active %}
                {{ a[0] }} {{ a[1] }} 
                <button type="submit" name="input" value="{{a[0]}}_{{a[1]}}">Close Survey</button>
                <br>
            {% endfor %}

        <br>

        <h3>Closed Surveys:</h3>

            {% for c in closed %}
                {{ c[0] }} {{ c[1] }} <br>
            {% endfor %}

        <br>

        </Form>


    </body>
</html>
