<!doctype html>
<html>
	<head>
        <title>Metrics page</title>
    </head>
    
    <body>

    	<Form method="POST">
            <button type="submit" name="input" value="1">Back</button>
            <br>
        </Form>

        <h1>Metrics</h1>

        {% for d in diff %}
            <b>Question : {{ d }}</b> <br>
                {% for i in data %}
                    {% if i[0] == d %}
                    <em> Question Type: {{ i[1] }}</em> <br>
                    {% endif %}
                {% endfor %}

            {% for r in results[loop.index0] %}
                <i>{{ r[0] }}</i> : {{ r[1] }} <br>
            {% endfor %}
            <br>
        {% endfor %}
        <br>

    </body>
</html>

