<!doctype html>
<html>
	<head>
        <title>Metrics page</title>
    </head>
    
    <body>

    <h1>Metrics</h1>

    	<Form method="POST">
            <button type="submit" name="input" value="1">Back</button>
            <br>
            
            <h3>Active Surveys:</h3>

            <select name="active">
                <option value="defaulto">Select Active Survey</option>
                    {% for a in active %}
                            <option value="{{ a[0] }}_{{ a[1] }}">{{ a[0] }} {{ a[1] }}</option>
                    {% endfor %}
            </select>
            <button type="submit" name="input" value="2">View Active Survey Results</button>


            <h3>Closed Surveys:</h3>

            <select name="closed">
                <option value="defaulto">Select Closed Survey</option>
                    {% for c in closed %}
                            <option value="{{ c[0] }}_{{ c[1] }}">{{ c[0] }} {{ c[1] }}</option>
                    {% endfor %}
            </select>
            <button type="submit" name="input" value="3">View Closed Survey Results</button>

    	</Form>
    </body>
</html>
