<!doctype html>
<html>
    <head>
        <title>Add Question page</title>
    </head>
    <body>

        <Form method="POST">

        <button type="submit" name="input" value="1">Back</button>
        <button type="submit" name="input" value="2">Add Question</button>
        <button type="submit" name="input" value="3">Delete Question</button>

        {% if choice == 'add' %}
        <h1>Create a question</h1>
            
            {% if msg == 'Question Not Added! Question Already Exists' %}
                <strong>{{ msg }}</strong>
            {% endif %}
            <br>
            <br>
            <button type="submit" name="input" value="4">Cancel</button>
            <input name="addq" placeholder="Enter question to add"/>
                <br/>
                <br/>
            Will this question have text or multiple choice responses?
                <br/>
                <br/>
            <input type="radio" name=type value="Text">Text
            <input type="radio" name=type value="Multiple Choice">Multiple Choice
            <button type="submit" name="input" value="5">Choose</button>
                <br/>
                <br/>
            {% if response == 'MC' %}
                Enter the number of responses desired:
                <input name="resnum" placeholder="Enter number of responses"/>
                <button type="submit" name="input" value="6">Submit</button>
                <br/>
                <br/>

                {% if options == 'options' %}
                    {% for i in range(1, resnums+1) %}
                        {{i}}. <input name="response{{i}}" placeholder="response{{ i }}"/>
                    {% endfor %}
                    <button type="submit" name="input" value="7">Finish</button>
                {% endif %}

            {% endif %}
            <hr>
        {% endif %}

        {% if choice == 'delete' %}
            <h1>Delete a question</h1>
            <input name="delq" placeholder="Enter question to delete"/>
            <button type="submit" name="input" value="8">Submit</button>
            <hr>
        {% endif %}

        </Form>

        
        <h1>Question Pool</h1>
            
            {% if msg == 'Question Successfully Added!' %}
                {{ msg }}
            {% endif %}
            <hr>
            {% for q in questions %}
                <b>{{ q[0] }}</b> <br>
                Response Type: {{q[1]}}
                <hr>
            {% endfor %}

    </body>
</html>
