<!doctype html>
<html>
	<head>
        <title>Review Survey page</title>
    </head>
    
    <body>
    	<Form method="POST">
    		<button type="submit" name="input" value="0">Back</button>
            <h1>Please review the following survey for {{course_name[0]}}</h1>
            {% for cs in cs_data %}

                <b>{{ cs }}</b>
                    {% for dat in data %}
                        {% if dat[0] == cs %}
                            {% if dat[3] == 'staff' %}
                                <button type="submit" name="input" value="{{ cs }}_delete">Delete Question</button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                <br>

                {% for d in data %}

                    {% if d[0] == cs %}

                        {% if d[1] == 'Multiple Choice' %}

                            {% set list1 = d[2].split(',') %}
                                {% for l in list1 %}
                                    <input type="radio" name="radio" value="{{ l }}" disabled>{{ l }}<br>
                                {% endfor %}

                        {% elif d[1] == 'Text' %}
                         <input type="text" name="answer" disabled>
                         <br>
                        {% endif %}

                    {% endif %}
                {% endfor %}

                <br>
            {% endfor %}
            <br>
            <button type="submit" name="input" value="1">Release Survey</button>
            <hr>

            <h2>Add optional questions from pool</h2>
            {% for q in questions %}
            	{% if q[0] not in cs_data %}
                    {% if q[2] == 'Optional' %}
                	   <b>{{ q[0] }}</b> <br>
                       Response Type: {{q[1]}}
                	   <button type="submit" name="input" value="{{q[0]}}_add">Add</button>
                	   <hr>
                    {% endif %}
                {% endif %}
            {% endfor %}
    	</Form>
    </body>
</html>