<!doctype html>
<html>
	<head>
        <title>Review Survey page</title>
    </head>
    
    <body>
    	<Form method="POST">
    		<button type="submit" name="input" value="0">Back</button>
            <h1>Please review the following survey for {{course_name[0]}}</h1>
            {% for cs in cs_data %}

                <b>{{ cs }}</b>
                <br>

                {% for d in data %}

                    {% if d[0] == cs %}

                        {% if d[1] == 'Multiple Choice' %}
                            <input type="radio" name="radio" value="{{ d[2] }}" disabled>{{ d[2] }}<br>
                        {% endif %}

                        {% if d[1] == 'Text' %}
                         <input type="text" name="answer" disabled>
                         <br>
                         {% endif %}

                    {% endif %}
                {% endfor %}

                <br>
            {% endfor %}
            <br>
            <button type="submit" name="input" value="1">Release Survey</button>
            <hr>

            <h2>Add Questions from Pool</h2>
            {% for q in questions %}
            	{% if q[0] not in cs_data %}
                	<b>{{ q[0] }}</b> <br>
                	Response Type: {{q[1]}}
                	<button type="submit" name="input" value="{{q[0]}}">Add</button>
                	<hr>
                {% endif %}
            {% endfor %}
    	</Form>
    </body>
</html>