<!doctype html>
<html>
    <head>
        <title>Student Dashboard page</title>
    </head>

    <body>

        <h1>Student Dashboard: {{ user }}</h1>

        <Form method="POST">
            <button type="submit" name="input" value="1">Logout</button>
            <br>

        <h3>Surveys:</h3>
            {% for s in surv %}
                {% if s[2] == 'active' %}
                    {% for a in enrols %}
                        {% if a[0] == s[0] %}
                            {% if a[1] == s[1] %}
                                {% if a[2] != 'complete' %}
                                    <button type="submit" name="input" value="{{s[0]}}_{{s[1]}}">{{s[0]}} {{s[1]}}</button> - OPEN <br>
                                {% else %}
                                    <b>{{ s[0] }} {{ s[1] }}</b> - COMPLETED<br> 
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% elif s[2] == 'closed' %}
                    <b>{{ s[0] }} {{ s[1] }}</b> - CLOSED<br> 
                {% else %}
                    <b>{{ s[0] }} {{ s[1] }}</b> - NOT RELEASE/CREATED<br> 
                {% endif %}
            {% endfor %}
        <br>


        </Form>
    </body>
</html>