<!doctype html>
<html>

    <head>
        <title>Survey page</title>
    </head>

    <body>
    
<Form method="POST">
    
    <button type="submit" name="input" value="0">Back</button>
</Form>

            
<Form method="POST", onsubmit="return validateForm()">
            <h1>Please complete the following survey for {{course_name[0]}}</h1>
            {% for cs in cs_data %}

                <b>{{ cs }}</b>
                <br>

                {% for d in data %}

                    {% if d[0] == cs %}

                        {% if d[1] == 'Multiple Choice' %}
                            
                            {% set list1 = d[2].split(',') %}
                                {% for l in list1 %}
                                    <input type="radio" name="{{ d[0] }}" value="{{ l }}">{{ l }}<br>
                                {% endfor %}

                        {% elif d[1] == 'Text' %}
                         <input type="text" name="{{ d[0] }}">
                         <br>
                         {% endif %}

                    {% endif %}

                {% endfor %}

            <br>
            {% endfor %}
            <br>

            <button type="submit" name="input" value="1">Submit Survey</button>

        </Form>
    </body>
</html>
